{% extends "base.html" %}

{% block content %}

    <div class="max-w-screen-xl mx-auto text-center flex flex-col ">
        <div class="text-center">
            <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
                DeepE</h1>
            <h2 class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
                We're here to help :)</h2>
        </div>
        <div class="mx-auto mt-32">
            <img alt="smily face" src="static/img/landing_page.svg"/>
        </div>
    </div>


{% endblock %}